.input__block {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .7em 1em;
    width: 23em;
    border-radius: 50px;
    border: 2px solid #242424;
    background-color: #242424;
    justify-content: space-between;

    .input__left{
        display: flex;
        align-items: center;
        gap: 1em;
    }



    .input__icon {
        font-size: 20px;
    }

    .input__input {
        background-color: #242424;
        width: 100%;
        outline: none;
        color: white;
        font-size: 15px;
        &::placeholder {
            font-size: 14px;
        }

    }
    .input__crossbar_disabled{
        opacity: 0;
    }
    .input__crossbar_active{
        opacity: 1;
    }

    &:hover {
        filter: brightness(1.20);
        transition-duration: 300ms;
    }
    
}